<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="footer">
      <!-- Footer -->
      <footer class="page-footer font-small teal pt-4">
        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">About</h5>
              <p>
                Inspired by Spotify, this application organizes a small respository of 
                songs and playlists. Looking for something new? Wander the site! 
              </p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3" />

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
              <h7>
                <a class="footerLink" href="https://github.com/AamerShikari"> Github! </a> <br>
                <a class="footerLink" href="https://www.linkedin.com/in/aamer-shikari-844317157/"> Linkedin! </a> <br>
                <a class="footerLink" href="mailto:shikariaamer@gmail.com">Email Us!</a> <br>
              </h7>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          Last Updated: April 15th, 2022
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </body>
</html>
