<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- This Page will be primarily used to: 
    1. Redirect users to the rest of the application
    2. Inform users about the functionality of the application -->
    <div class="d-flex justify-content-center">
      <h1 class="display-1">Welcome to the Playlist CRUD App!</h1>
      <br /><br />
    </div>
    <div class="d-flex justify-content-center">
      <p>
        <strong>
          The primary purpose of this application is to create a forum for users
          to share and organize their music with others!
        </strong>
      </p>
      <br />
    </div>
    <p>Here are the features:</p>
    <ul>
      <li>Like and Comment Sections for Both Playlists and Songs!</li>
      <li>Create New Playlists</li>
      <li>Modify Songs in Playlsits</li>
      <li>Add New Songs to the Database</li>
    </ul>
  </body>
</html>
