html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  
}


.navbar-expand-lg {
  background-color: black;
  min-width: 100%;
}


#navbarItem {
  color: white;
  font-weight: 700;
}

#navbarItem:hover {
  color: #1ED760;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
  align-items: flex-end;
}

.page-footer {
  background-color: black;
  color: white;
}

#featuresIntro {
  margin-right: 200px
}

#table-items:hover{
  color:#1ED760;
}

#song-button {
  color: #1ED760;
}

#song-button:hover{
  color: white;
}

.footer {
 margin-top: auto;
} 

#indexPage {
  background-color: rgb(41, 65, 171);
  background-position: -400px 75px;
  background-repeat: no-repeat;
  background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
}

#allSongs {
  background-image: url("/images/plantBorder.jpeg");
  background-size: contain;
}

.display-1 {
  text-align:center; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: 900;
}

#logout {
  display: flex!important;
  
}