.navbar-expand-lg {
  background-color: black;
}


#navbarItem {
  color: white;
  font-weight: 700;
}

#navbarItem:hover {
  color: #1ED760;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
  align-items: flex-end;
}

.page-footer {
  background-color: #1ED760;
}

#featuresIntro {
  margin-right: 300px
}

#table-items:hover{
  color:#1ED760;
}

#song-button {
  color: #1ED760;
}

#song-button:hover{
  color: white;
}