<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Playlist</title>
  </head>
  <body id="addPlaylist">
    <div class="d-flex justify-content-center">
      <h1 style="color: #e5383b;">Add New Playlist Page</h1>
    </div>

    <div class="d-flex justify-content-center">
      <form action="/playlist/create" method="POST">
        <div class="form-group">
          <label style="color: #e5383b;">Playlist Name:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Name Here"
            name="title"
          />
          <small class="form-text" style="color: #e5383b;"
            >The First Step to Joining the Playlist Community!</small
          >
        </div>
        <button type="submit" class="btn btn-dark formBtn">Submit</button>
      </form>
    </div>
  </body>
</html>

<%- include('../partials/footer') %>
