<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Playlist</title>
  </head>
  <body>
    <div class="d-flex justify-content-center">
        <h1>Add New Playlist Page</h1>
    </div>

    <form action="/playlist/create" method="POST">
      <div class="form-group">
        <label>Playlist Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Name Here"
          name="title"
        />
        <small class="form-text text-muted"
          >The First Step to Joining the Playlist Community!</small
        >
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </body>
</html>
