<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Playlist</title>
</head>
<body>
    <h1><%= playlist.title %> </h1>
    <ul>
        <% playlist.songs.forEach(song =>{ %>
            <li> <%= song %> </li>
        <% }) %> 
    </ul>

    <form action="/playlist/<%= playlist._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Playlist!</button>
    </form>
</body>
</html>